div.wrapper {
    background: #092109;
    position: relative;
    width: 35rem;
    height: 35rem;
    margin: 15rem auto;
    margin-bottom: 9rem;
    border-radius: 2rem;
    border: solid 1rem lightslategray;
}

.win-loose,
.win {
    position: absolute;
    font-size: 6rem;
    font-family: cursive;
    background: #00000099;
    width: 100%;
    height: 35rem;
    z-index: 10000;
    line-height: 5;
    color: red;
}

.win {
    color: green;
}
